@font-face {
  font-family: "Montserrat-Regular";
  src: url("/public/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/public/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("/public/fonts/Montserrat/Montserrat-Italic.woff2") format("woff2");
  font-display: swap;
}

:root {
  --background-color: #0f1115;
  --title-color: #e6e6e6;
  --text-color: #9aa0a6;
  --surface-background: #181b22;
  --surface-background-hover: #212530;
  --filter-background-hover: #1c2128;
  --placeholder-color: rgba(154, 160, 166, 0.5);
}

[theme="light"] {
  --background-color: #e6edf7;
  --title-color: #0f172a;
  --text-color: #566074;
  --surface-background: #f9fbff;
  --surface-background-hover: #edf2fb;
  --filter-background-hover: #e2e9f7;
  --placeholder-color: rgba(86, 96, 116, 0.5);
}


body {
  background-color: var(--background-color);
}

html{
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

p, a, li, input, button, select, label {
  color: var(--text-color);
  font-family: "Montserrat-Regular";
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: "Montserrat-Bold";
}

button {
  cursor: pointer;
}

.hidden-block {
  pointer-events: none;
  visibility: hidden;
}

#app {
  max-width: 1920px;
  margin: auto;
}

.container {
  width: 70%;
  margin: auto;
  padding-top: 1rem;
}

.filters-container{
  width: 100%;
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
}

.filter-settings{
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  background: var(--surface-background);
  border: none;
  color: var(--title-color);
  cursor: pointer;
  transition: 0.3s;
}

.filter-settings:hover,
.filter-settings:active {
  background: var(--filter-background-hover);
  transition: 0.3s;
}

.list-row-container{
  width: 100%;
  overflow: hidden;
  display: flex;
  list-style-position: inside;
}

.list-row-container .list-row-elem{
  margin-right: 0.5rem;
  list-style: none;
}

.list-row-container .list-row-elem::before{
  content: "•";
  margin-right: 0.5rem;
}

.list-row-container .list-row-elem:first-child::before{
  content: none;
}

.subtitle{
  margin-bottom: 0.5rem;
}

.page-surface-container{
  border-radius: 10px;
  background-color: var(--surface-background);
  padding: 1rem;
  margin: 1rem 0;
}

.load-animation-container{
  margin-top: 2rem;
  height: 60vh;
  color: var(--text-color);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
}

.icon-container,
.poster-container,
.img-actor-container{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
